* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
span{
    color: #b9aca9;
    font-family: "Teko", sans-serif;
    font-size: 3vw;
}


/* for scrooling navbar  */


header {
    background-color: white;
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}


.uppernavbar {
    /* background-color: pink; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.navbar {
    /* background-color: red; */
    height: 10vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.navbtn {
    font-size: 2vw;
    height: 5vh;
    padding: 5px 15px;
    border: none;
    background-color: white;
    font-family: "Teko", sans-serif;
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 160px;
    height: 85px;
    background-image: url(PIC/logo.png);
    /* background-color: aqua; */
    background-size: cover;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7vw;
    font-weight: 500;
    margin: 0px;
    width: 20%;
    margin-left:200px;
}

/* for cart number */
#c_display{
    position: relative;
    right: 27px;
    font-size: 11px;
    border: 1px solid black;
    border-radius: 50%;
    padding:  .9px 8px;
    display: none;
    background-color: #fa9fb5;
    font-weight: 600;
    color: white;
}

.searchbar {
    /* margin: 30px; */
    font-size: 1.5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    /* margin-right: -20px; */
}

.searchbar i {
    margin-right: 20px;

}

.searchbar input {
    font-size: 20px;
    width: 70%;
    height: 5vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px;
    border: 1px solid black;
}

/* for search icon */
.search {
    padding: 7px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    font-size: 1.1vw;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}






/* for front introduction */

.front {
    background-color: #b9aca9;
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-top: 20vh;
}

.frontcontent {
    height: 80vh;
    width: 50%;
    margin-top: 50px;
    color: white;
    margin-left: 120px;
    margin-top: 70px;
}


.front_image{
    height: 75%;
    width: 30%;
    /* background-color: red; */
    margin-top: 70px;
    background-image: url(FRONT_IMAGE_1.png);
    background-size: cover;
}

.frontcontent h1 {
    font-size: 5vw;
    font-family: "Cantora One", sans-serif;
    line-height: 70px;
}


.frontcontent h3 {
    font-size: 2vw;
    font-family: "Oleo Script Swash Caps", system-ui;
    margin-top: 10px;
}

.frontcontent p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Kotta One", serif;
    font-weight: 400;
    outline-color: black;
    font-size: 1.2vw;
}

.explore_btn {
    padding: 10px 25px;
    background-color: #b9aca9;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    transition: transform .2s;
}

.explore_btn:hover{
    transform: scale(1.2);
    background-color: white;
    color:#b9aca9 ;
}


/* for mostly sell slider  */
.most_selling_items{
    height: 90vh;
    width: 100vw;
    background-color:#f6f6f6ef;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
   
}

.most_selling_items h2{
    font-family: "Teko", sans-serif;
    font-size: 3vw;
}


/* for slider */
.slider{
    height: calc(100vh - 20vh);
    width: 100vw;
    background-color: aqua;
    margin-top: 2vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
}




/* for shop */

.shop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6ef;
    margin-top: 10px;
}

.shop h2{
    font-family: "Teko", sans-serif;
    font-size: 3vw;
}
.sweetrow {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.sweet {
    height: 70vh;
    width: 20vw;
    /* border: 2px solid black; */
    margin: 10px 7px;
    border-radius: 10px;
    /* box-shadow: 2px 3px 10px black; */
    background-color: white ;
    transition: transform .2s; 
}


.sweet:hover{
    transform:scale(1.05) ;
}


.pic {
    height: 55%;
    width: 100%;
    background-color: aquamarine;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    height: 45%;
    width: 90%;
    margin: 10px;
}

.content h1 {
    padding-left: 5px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    /* margin-top: 10px; */
}

.content p {
    /* margin-bottom: 10px; */
    color: #b1aeae;
    padding: 0px 5px;
    font-family: "Kotta One", serif;
    font-weight: 400;
    margin-top: -10px;
}



/* for rate and button in sweet div */
.rate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -15px;
    padding: 5px;
    align-items: center;
}


/* for price in sweet  */
.price {
    display: flex;
    align-items: center;
    font-size: 1.6vw;
}

.price h3 , h5{
    font-weight: 600;
}


/* for shop now btn */

.bt {
    padding: 7px 18px;
    border: 2px solid #fa9fb5;
    background-color: white;
    border-radius: 10px;
    color: #fa9fb5;
    font-size: 1.2vw;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    transition: transform .2s;
}

.bt:hover{
      background-color: #fa9fb5;
      color: white;
      transform: scale(1.1);
}



/* for photo of sweets */

.pic1 {
    background-image: url(PIC/Gulab_jamun_pic_final.jpg);
    background-size: cover;
}
.pic2 {
    background-image: url(PIC/kaju\ katli.webp);
    background-size: cover;
}
.pic3 {
    background-image: url(PIC/rasmalia.webp);
    background-size: cover;
}
.pic4 {
    background-image: url(PIC/besan\ laddu.webp);
    background-size: cover;
}
.pic5 {
    background-image: url(PIC/barfi.webp);
    background-size: cover;
}
.pic6 {
    background-image: url(PIC/peda.webp);
    background-size: cover;
}
.pic7 {
    background-image: url(PIC/rasgulla.webp);
    background-size: cover;
}
.pic8 {
    background-image: url(PIC/bourvita_burfi.webp);
    background-size: cover;
}
.pic9 {
    background-image: url(PIC/ghewar.jpg);
    background-size: cover;
}
.pic10 {
    background-image: url(PIC/motichur.webp);
    background-size: cover;
}
.pic11 {
    background-image: url(PIC/malai\ laddu.jpg);
    background-size: cover;
}
.pic12 {
    background-image: url(PIC/gajar_halwa.webp);
    background-size: cover;
}

.explore_more_btn{
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 10px;
    /* color: white; */
    font-size: 1.2vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: white;
    font-family: "Acme", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: transform .2s;
}

/* animation in explore more */

.explore_more_btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}


/* for map  */

.div_map{
    height: 70vh;
    width: 100vw;
    background-color: #f6f6f6ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_map h1{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right:53%;
    margin-bottom: 10px;
}

.map{
    height: 50vh;
    width: 70vw;
}

iframe{
    height: 100%;
    width: 100%;
    filter: invert(100%);
    /* z-index: -1; */
    transition: transform .2s;
}

iframe:hover{
    transform: scale(1.1);
}


/* contact with us */
.contact{
    height: 20vh;
    background-color: #838080;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_input{
    display: flex;
    justify-content: center;
}

.email_input h4,form{
    font-family: "Acme", sans-serif;
    font-weight: 400;
}

#newsletter_email{
    padding: 2px;
    /* border-radius: 15px; */
}

.newspaper_button{
    padding: 5px 15px;
    color: white;
    background-color: #006168;
    /* border-radius: 15px; */
}

/* for footer  */

footer {
    background-color: white;
    height: 15vh;
    width: 100vw;
    display: flex;
}

/* for footer logo */
.logo2{
    height: 160px;
    width: 300px;
    /* background-color: #006168;*/
    background: url(PIC/logo.png);
    background-size: cover;
    margin: 20px;
    margin-left: 60px;
    margin-top: -20px;
    font-family: "Teko", sans-serif;
}

/* for address in footer */
.address_footer_div{
    height: 30px;
    width: 300px;
    margin: 20px;
    margin-left: 60px;
    margin-top: -10px;
    color: #838080;
}

/* for content indside footer */

.footer_div{
    height: 100%;
    width: 20%;
    margin-top: 30px;
    /* background-color: #fa9fb5; */
}

.footer_div h1 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
}

.footer_div a{
    text-decoration: none;
    color: #838080;
}

.footer_div p{
    margin-top: 10px;
    font-size: 1.2vw;
    font-family: "Kotta One", serif;
    font-weight: 400;
}

.store_address{
    width: 40%;
    height:100%;
}



/* footer */